API_KEY="ABC123"
NEXT_PUBLIC_AUTH_API_KEY="listkey573454"
IRON_SESSION_PASSWORD="complex_password_at_least_32_characters_long"
MONGODB_URI="mongodb+srv://pranta:testing1234@cluster0.zuyzv.mongodb.net/trigan?retryWrites=true&w=majority"