@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blanka';
  src: local('Blanka'), url('/fonts/Blanka-Regular.otf') format('truetype');
}

@layer base {
  /* defining global variables */
  :root {
    --dark-color: #202635;
  }

  /* setting global styles */
  body {
    background-color: var(--dark-color);
    color: white;
  }
}

@layer components {
  .filter-grey {
    filter: invert(85%) sepia(8%) saturate(755%) hue-rotate(194deg)
      brightness(87%) contrast(88%);
  }

  .filter-primary {
    filter: invert(19%) sepia(92%) saturate(5054%) hue-rotate(253deg)
      brightness(95%) contrast(93%);
  }

  .filter-secondary {
    filter: invert(9%) sepia(26%) saturate(4361%) hue-rotate(218deg)
      brightness(94%) contrast(98%);
  }

  .filter-light-gray {
    filter: invert(99%) sepia(29%) saturate(5020%) hue-rotate(180deg)
      brightness(111%) contrast(94%);
  }

  .filter-lighter-gray {
    filter: invert(92%) sepia(5%) saturate(5766%) hue-rotate(189deg)
      brightness(100%) contrast(96%);
  }
}
