@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blanka';
  src: local('Blanka'), url('/fonts/Blanka-Regular.otf') format('truetype');
}

@layer base {
  /* defining global variables */
  :root {
    --dark-color: #202635;
  }

  /* setting global styles */
  body {
    background-color: var(--dark-color);
    color: white;
  }
}

@layer components {
  .primary-btn {
    @apply mx-auto flex cursor-pointer rounded-lg bg-primary px-4 py-2 text-light opacity-100 transition duration-200 hover:scale-110 hover:shadow-lg;
  }

  .filter-grey {
    filter: invert(85%) sepia(8%) saturate(755%) hue-rotate(194deg)
      brightness(87%) contrast(88%);
  }

  .filter-primary {
    filter: invert(19%) sepia(92%) saturate(5054%) hue-rotate(253deg)
      brightness(95%) contrast(93%);
  }

  .filter-secondary {
    filter: invert(9%) sepia(26%) saturate(4361%) hue-rotate(218deg)
      brightness(94%) contrast(98%);
  }

  .filter-light-gray {
    filter: invert(99%) sepia(29%) saturate(5020%) hue-rotate(180deg)
      brightness(111%) contrast(94%);
  }

  .filter-lighter-gray {
    filter: invert(92%) sepia(5%) saturate(5766%) hue-rotate(189deg)
      brightness(100%) contrast(96%);
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider {
    position: relative;
    width: 200px;
  }

  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }

  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }

  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }

  .slider__range {
    background-color: #9fe5e1;
    z-index: 2;
  }

  .slider__left-value,
  .slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
  }

  .slider__left-value {
    left: 6px;
  }

  .slider__right-value {
    right: -4px;
  }

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }

  .thumb--zindex-3 {
    z-index: 3;
  }

  .thumb--zindex-4 {
    z-index: 4;
  }

  .thumb--zindex-5 {
    z-index: 5;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* Modal css */
  .modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
